
.filter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    
}

@media (max-width: 1024px) { 
    .filter-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}