.sidebar-container {

    padding: 10px 0;
    
    .sidebar-header {
        display: flex;
        justify-content: center;
        margin: auto auto;
        border-bottom: solid 1px;
        padding-bottom: 10px;
        
        img {
            width: 15%;
        }

        h2 {
            margin: auto 5px;
        }
    }

    .sidebar-nav {
        display: flex;
        padding: 20px;
        flex-direction: column;

        a {
            display: flex;
            flex-direction: row;
            margin: 10px 0;
            text-decoration: none;
            color: black;
            justify-content: flex-start;
           

            .sidebar-nav-text {
                margin: auto 5px;
            }
        }

        a:hover {
            color:grey;
            img{
                color: grey;
            }
        }


    }


}


/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 35px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
    
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #5f5f5f;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #373a47;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #FFFFFF;
  }
  


  






